<%-include('partials/header.ejs');%>
    <form class="new-diary" action="/compose" method="post">
      <div class="form-group">
        <label for="newTitleLabel" class="new-diary-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="newTitleLabel"
          aria-describedby="emailHelp"
          placeholder="Give your journal a lovely name..."
          name="title"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="newPostLabel" class="new-diary-label">Post</label>
        <textarea
          class="form-control"
          id="newPostLabel"
          placeholder="What do you want to say?"
          name="content"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>
  <%-include('partials/footer.ejs');%>

