
  <%-include('partials/header.ejs');%>
  <div class="blogs">
    Wanna chat more with me about algorithms, web development, or the league of legend? Let's do it! Send whatever you'd like to say to my email, yihan.li@wisc.edu. 
  </div>
 
  <%-include('partials/footer.ejs');%>

